:root {
  --dot-bg: #202429;
  --dot-color: #aaaaaa;
  --bg: #25292f;
  --dot-size: 2px;
  --dot-space: 20px;
  --borderR: 25px;
  --marginAvg: 50px;
  --prim: #151515;
}

body {
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  margin-left: var(--marginAvg);
  margin-right: var(--marginAvg);
  margin-top: 0px;
  margin-bottom: 0px;

  margin: 0;
  padding: 0px;
  font-family: "Amiko";
}

.page {
  display: grid;
  height: 100vh; /* full screen height */
  width: 100%;
  grid-template-rows: 16vh 84vh;
  row-gap: 20px;
  /* grid-template-columns: 20vw 80vw; */
}

.header {
  display: grid;
  grid-row: 1;
  grid-template-columns: 0.35fr 1.3fr;
}

#landing-heading {
  margin: 0.5rem;
  padding-top: 15px;
  color: white;
  font-family: "Amiko", sans-serif;
  font-size: 48pt;
  text-align: center;
  /* position: absolute;
  top: 40%;
  left: 50%; */
}
#landing-content {
  margin-top: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#landing-content > #repoInput {
  width: 60%;
  height: 2rem;
  max-width: 40rem;
  font-size: 12pt;
  padding: 8pt;
  border-radius: 2rem;
  padding-left: 30px;
}
#landing-content > #generateBtn {
  width: 20%;
  height: 3rem;
  max-width: 10rem;
  font-size: 12pt;
  background-color: white;
  border-radius: 2rem;
}

#landing-content > #generateBtn:hover {
  cursor: pointer;
}

#searchbar {
  margin-top: 9px;
  margin-right: 25px;
  /* margin-bottom:50px; */
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 5% 95%;
  align-content: center;
  align-items: center;
  color: white;
  border: 4px var(--bg) outset;
  border-radius: var(--borderR);

  background-color: var(--bg);
}

#searchbar img {
  grid-column: 1;
}

#search {
  grid-column: 2;
}

#userBoard {
  grid-row: 1;
  grid-column: 1;
  grid-template-rows: 6% 94%;
  border: 4px var(--bg) outset;
  background: var(--prim);
  display: grid;
  overflow-y: auto;
  overflow-x: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 28px;
  border-radius: var(--borderR);
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  margin-top: 9px;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  align-content: center;
  border: 4px var(--bg) outset;
  border-radius: var(--borderR);
  margin-right: 25px;
  /*margin-bottom: 30px; */
  margin-left: 28px;
  background-color: var(--bg);
  color: white;
}

#main {
  display: grid;
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 30px;
}

.userTabsList {
  color: blue;
}

#statsPage {
  display: grid;
  grid-template-rows: 5% 95%;
  grid-row: 1;
  grid-column: 2;
  background: #151520;
  background: linear-gradient(
    120deg,
    rgba(21, 21, 21, 1) 0%,
    rgba(21, 21, 32, 1) 100%
  );
  overflow-y: scroll;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: var(--borderR);
  padding: 25px;
  color: white;
}

#stats {
  border-radius: var(--borderR);
  background-color: var(--bg);
  padding: 25px;
  margin-top: 10px;
  overflow-y: scroll;
}

#output {
  color: white;
}

.contributor {
  font-size: large;
  color: var(--dot-color);
  margin: 20px;
  display: flex;
  height: 3rem;
  align-items: center;
  gap: 15px;
  border-radius: var(--borderR);
  background-color: var(--bg);
}

.contributor:hover {
  display: flex;
  height: 3rem;
  align-items: center;
  background-color: #373d46;
  color: white;
  cursor: pointer;
}

.contributor img {
  margin-left: 5px;
  height: 80%;
  object-fit: contain;
  border-radius: 50%;
}

.titles {
  color: var(--dot-color);
}

#userBoard > .titles {
  text-align: center;
}

#search > #repoInput {
  background-color: #353b43;
  display: inline;
  width: 90%;
  margin: 3px;
  margin-top: 4px;
  margin-left: 0px;
  height: 35px;
  border-radius: var(--borderR);
  padding-left: 20px;
  border: var(--prim) solid 0px;
}
#search > #repoInput:focus {
  outline: auto;
  outline-color: #353b43;
}

#search > #generateBtn {
  height: 40px;
}

#searchbar > img {
  height: 45px;
  width: 45px;
  margin-left: 2px;
  align-content: center;
  margin-top: 1px;
}

.d2h-diff-table {
  position: relative;
}

#loading-overlay {
  position: fixed;
  inset: 0;
  background: #202429;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

#wrap {
  position: absolute;
  inset: 0;
}

#wrap canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
  margin: -500px 0 0 -500px;
}

.info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 37px;
  color: #ccc;
  line-height: 2em;
  text-align: center;
}
#repoInput {
  font-family: "Amiko";
}

#tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  gap: 1px;
}

.tab {
  background-color: var(--dot-bg);
  padding-top: 15px;
  padding-bottom: 30px;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

#contributorSelector {
  display: flex;
  flex-direction: column;
  border: solid var(--dot-color) 3px;
  border-radius: var(--borderR);
  height: 100px;
  align-items: left;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  overflow-y: scroll;
}

#contributorSelector::-webkit-scrollbar {
  background-color: var(--bg);
}
#contributorSelector::-webkit-scrollbar-thumb {
  background: #151515; /* or add it to the track */
}

#contributorSearch {
  background-color: #151515;
  color: white;
  border: var(--prim) solid 10px;
  border-radius: var(--borderR);
}

#stats::-webkit-scrollbar {
  display: none;
}

#statsPage::-webkit-scrollbar {
  background-color: var(--dot-bg);
}

#userBoard::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #151515; /* or add it to the track */
}

#userBoard::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

.overview-containers {
  border: 1px solid var(--dot-color);
  margin: 2%;
}
