:root {
    --dot-bg:#202429;
    --dot-color: #AAAAAA;
    --bg: #25292f;
    --dot-size: 2px;
    --dot-space: 20px;
    --borderR: 25px;
    --marginAvg: 50px;
}

body {
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

    margin-left: var(--marginAvg);
    margin-right: var(--marginAvg);
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0px;
}

.header {
  display: grid;
  grid-template-columns: 0.35fr 1fr 0.3fr;
}

.page {
  display: grid;
  height: 100vh; /* full screen height */
  grid-template-rows: 16vh 84vh;
}

#searchbar {
  display: grid;
  grid-template-columns: 5% 95%;
  text-align: center;
  align-content: center;
  color:white;
  border: 4px red inset;
  border-radius: var(--borderR);
  margin-top: var(--marginAvg);
  margin-bottom:var(--marginAvg);
  background-color:rgb(186, 0, 0);
}

#userBoard {
  display:grid;
  overflow-y: auto;
  background-color: aqua;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 4px;
  border-radius: var(--borderR);
}

#logo {
  text-align: center;
  align-content: center;
  border: 4px red inset;
  border-radius: var(--borderR);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: rgb(211, 0, 0);
  color:white;
}

#slogan {
  text-align: center;
  align-content: center;
  color:white;
}

#main {
  display:grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 30px;
}

.userTabsList {
  color:blue;
}

#statsPage {
  display:grid;
  grid-template-rows: 5% 95%;
  background: #151520;
  background: linear-gradient(120deg, rgba(21, 21, 21, 1) 0%, rgba(21, 21, 32, 1) 100%);
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 5px;
  border-radius: var(--borderR);
  padding:25px;
  color:white;
}

#stats {
  border-radius: var(--borderR);
  background-color: var(--bg);
  padding: 25px;
}

#output {
  color: white;
}